{% extends "layout.html" %}
{% block body %}
<div class=container>
  <div class=row>

    <div class=col-md-4>
      <div class="panel panel-default">
        <div class=panel-heading>
          <h2 class=panel-title>Fluffy</h2>
        </div>
        <div class='panel-body'>
          <img style ='height: 100%; width: 100%; object-fit: contain'
           class='thumbnail' src="{{ url_for('static', filename='images/MaineCoon.png') }}">
        </div>
      </div>
    </div>

    <div class=col-md-4>
      <div class="panel panel-default">
        <div class=panel-heading>
          <h2 class=panel-title>Leroy Jenkins</h2>
        </div>
        <div class='panel-body'>
          <img style ='height: 100%; width: 100%; object-fit: contain' 
           class='thumbnail' src="{{ url_for('static', filename='images/Ocicat.png') }}">
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock body %}
